@model Via.Models.Attendee

@{
    ViewData["Title"] = "Edit";
}

<div class="form-horizontal">
    <div class="row">
        <input type="submit" value="Save" class="btn btn-primary pull-right" />
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Gender" class="form-control">
                            <option value="0">M</option>
                            <option value="1">F</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="IsMember" />
                            <label asp-for="IsMember"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Dob" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Dob" data-date-format="yyyy-MM-dd" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BirthCity" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BirthCity" class="form-control" />
                        <span asp-validation-for="BirthCity" class="text-danger" />
                    </div>
                </div>



                <div class="form-group">
                    <label asp-for="BaptismChurch" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BaptismChurch" class="form-control" />
                        <span asp-validation-for="BaptismChurch" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BaptismDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BaptismDate" class="form-control" />
                        <span asp-validation-for="BaptismDate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BaptismPastor" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BaptismPastor" class="form-control" />
                        <span asp-validation-for="BaptismPastor" class="text-danger" />
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="MarriageDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="MarriageDate" class="form-control" />
                        <span asp-validation-for="MarriageDate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MarriedWithId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="MarriedWithId" class="form-control" />
                        <span asp-validation-for="MarriedWithId" class="text-danger" />
                    </div>
                </div>



                <div class="form-group">
                    <label asp-for="ParentFatherId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ParentFatherId" class="form-control" />
                        <span asp-validation-for="ParentFatherId" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ParentMotherId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ParentMotherId" class="form-control" />
                        <span asp-validation-for="ParentMotherId" class="text-danger" />
                    </div>
                </div>


                


                <div class="form-group">
                    <label asp-for="Profession" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Profession" class="form-control" />
                        <span asp-validation-for="Profession" class="text-danger" />
                    </div>
                </div>

                
            </form>
        </div>


        <div class="col-md-6">
            <div class="row">
                @foreach (var picture in Model.Pictures)
                {
                    <div class="col-md-4">
                        <img src="~/uploads/@picture.Url" width="100%" />
                        <form asp-action="DeletePicture">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" name="pictureId" value="@picture.PictureId" />
                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn-link" />
                            </div>
                        </form>
                    </div>
                }
            </div>
            
            <div class="row">
                <form method="post" asp-action="AddPictures" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <input type="file" name="files" class="btn btn-default" multiple />
                    <input type="submit" value="Upload" class="btn btn-success" />
                </form>
            </div>
            <br />
            <div class="row  form-group">
                <label asp-for="Notes" class="col-md-1 control-label"></label>
                <div class="col-md-11">
                    <textarea asp-for="Notes" class="form-control" style="width: 400px; height: 150px;">  </textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
